<h1>ForgotPasswordConfirmation</h1>

<div class="alert alert-success" role="alert">
                    <strong>Sucess</strong> <p>
    The link has been sent, please check your email to reset your password.
</p>
</p>

</div>
