
@{
    ViewData["Title"] = "SuccessRegistration";
}


<div class="alert alert-info" role="alert">
                    <strong>Sucessfully Registered</strong> 
                    <p>
Please check your email for the verification action.
</p>

</div>
 
