@model DemoMvcProject.Models.StudentModel

<div class="row">
    <div class=" col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="md-form ">
                <label asp-for="FirstName" class="control-label"></label>
                <input   asp-for="FirstName" class="form-control input-sm" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="md-form ">
                <label asp-for="LastName" class="control-label"></label>
                <input   asp-for="LastName" class="form-control input-sm" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="md-form ">
                <label asp-for="DOB" class="control-label active"></label>
                <input   asp-for="DOB" class="form-control input-sm" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="md-form ">
                <label asp-for="Email" class="control-label"></label>
                <input   asp-for="Email" class="form-control input-sm" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="md-form ">
                <label asp-for="Phone" class="control-label "></label>
                <input   asp-for="Phone" class="form-control input-sm" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="md-form ">
                <input  type="submit" value="Create" class="btn btn-sm btn-rounded btn-primary" />
            </div>
        </form>
    </div>
</div>
    
